.btn {
  padding: 8px 10px;
  border: 1px solid skyblue;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;

  &-primary {
    &:hover {
      background: lightblue;
      color: #000;
    }
  }
  &-default {
    &:hover {
      background: gainsboro;
      color: rgb(51, 57, 59);
    }
  }
}
